<footer class="endPage"> 
    <div class="endPageleft">
    <p>Contact Us </p><p> Copyright &copy; </p>
</div class = "endPageleft">
    <div class="middile-footer">
        <p><i class="bi bi-telephone-fill"></i> Call +134734623</p>
        <a><i class="bi bi-envelope"></i> Webproject202@gmail.com</i><a href="mailto:Webproject202@gmail.com"  ></a>
        </a>
        </div class="middile-footer">
    <div class="EndPageRight">
      <p> Help<i class="bi bi-question-circle"></i></a></p>
      <p> About us <i class="bi bi-building"></i><p><a href="">careers</a></p>
    
    </div class = "EndPageRight">
</footer class="endPage">
